- if @current_user
  %p.welcome  #{@current_user.name} #{link_to 'Log Out', logout_path}
- else
  %p.login Sign in with #{link_to 'Twitter', '/auth/twitter'} | #{link_to 'Facebook', '/auth/facebook'} | #{link_to 'Google', '/auth/google_oauth2'}
