-#  This file is app/views/movies/index.html.haml
%h2 All Movies
 
%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each_with_index do |movie, index|
      %tr{:class => ('adult' unless movie.rating =~ /^G|PG$/)}
        %td= link_to "#{movie.title}", movie_path(movie)
        %td= movie.rating
        %td= movie.release_date.to_s(:dBY)
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

%h3 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do

  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'
  = submit_tag 'Search TMDb'